html, body{
  margin: 0;
  padding: 0;
  min-width: 1219px;
  font-family: Roboto, sans-serif;
}



.header {
  background-color: #007765;
  width: 100%;
  position: fixed;
}

.header img{
  width: 183.96px;
  height: 45.04px;
  padding-top: 20px;
}

.header-text {
  float: right;
  padding-top: 29px;
  padding-bottom: 26px;
  color: white;
}

.header-text a{
  color: white;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
}

.fixed-container {
  width: 1219px; 
  /*width: 1110px;*/
  padding: 0 55px;
  /*background-color: red;*/
  margin: auto;
}

.PiperNetIsHere {
  height: 403px;
  width: 100%;
  padding-top: 84px;
  background-image: url(https://i.ibb.co/NpQvdpF/top-image.png);
  background-size: cover;
  background-position: center center;
  display: flex;
}

.PiperNetIsHere p{
  color: white;
  margin: auto;
  font-size: 72px;
  font-weight: 500;
  line-height: 84px;
}

#the-problem {
  text-align: center;
  margin-top: -36px;/*48px;*/
  font-size: 64px;
  color: #007765;
  line-height: 75px;
  padding-top: 84px;

}

.the-problem-text {
  margin-top: 16px;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 92px;
}

.second-image {
  width: 100%;
  height: 483px;
  background-image: url(https://i.ibb.co/F8GZzx0/second-image.png);
  background-size: cover;
  background-position: center center;
  display: flex;
}

.second-image p{
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
}

.container-for-image {
  width: 893px;
  margin: auto;
}

#PiedPiperCoin {
  color: #007765;
  font-size: 64px;
  text-align: center;
  line-height: 75px;
  margin-top: -36px;
  padding-top: 84px;
}

.PPC_logo {
  float: left;
  width: 115px;
  height: 115px;
  margin-top: 16px;
  margin-right: 48px;
}

.PiedPiperCoin-text {
  padding-top: 16px;
  font-size: 32px;
  line-height: 37px;
}

.PiedPiperCoin-text2 {
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 92px;
}

.the-team {
  background-color: #EEEEEE;
}

#the-team {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  padding-top: 84px;
  margin-top: -84px;
}

.member {
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
  flex-basis: 33%;
}

  .member img {
    width: 168px;
    height: 168px;
  }

  .member h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
    margin: 0;
    margin-top: 12px;
  }

  .member span {
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
  }

.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer {
  background-color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 48px 339px 64px 340px;
  color: #FFFFFF;
}
